body {
    background-color: gray;
}

button {
    background-color: navy;
}

a {
    color: graytext;
    font-size: 15px;
}

p {
    color: navy;
    font-family: monospace;
    font-size: 20px;
}


button:hover {
    background-color: whitesmoke;
}